$primary_color: #003d74;
$secondry_color: #fff;

#download-pdf {
  color: $secondry_color;
  text-decoration: none;
  background: rgb(28, 184, 65);
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

section {
  width: 990px;
  height: 1400px;
  background-color: $secondry_color;
  display: flex;
  margin: auto;
  position: relative;
  overflow:visible !important;

  sidebar {
    width: 30%;
    height: 100%;
    background-color: $primary_color;
    padding: 20px 0;
    color: $secondry_color;

    h1 {
      padding: 0 20px;
    }

    h2 {
      font-weight: normal;
      padding: 0 20px;
      margin-bottom: 20px;
    }

    h2.section-head {
      background-color: rgba($color: #000, $alpha: 0.3);
      padding: 0 20px;
      font-weight: bold;
      line-height: 2.5rem;
      margin: 10px 0;
    }

    h4, p, a {
      padding: 0 20px;
      display: block;
    }

    p, a {
      margin-bottom: 10px;
      overflow-wrap: break-word;
      color: $secondry_color;
    }

    .skill-label {
      padding: 0 20px;
    }

    .skill {
      height: 14px;
      widows: 100%;
      background-color: rgba($color: #000, $alpha: 0.3);
      margin: 10px 20px;

      .skill-percentage {
        background-color: $secondry_color;
        height: 100%;

        &.two { width: 20% }
        &.four { width: 40% }
        &.six { width: 60% }
        &.seven { width: 70% }
        &.eight { width: 80% }
        &.ten { width: 100% }
      }
    }
  }

  article {
    width: 70%;
    height: 100%;
    padding: 20px;

    h2 {
      color: $primary_color;
      line-height: 40px;
      border-top: 1px #d5d6d6 solid;
      border-bottom: 1px #d5d6d6 solid;
      margin: 10px 0;
    }

    .section {
      display: flex;
      width: 100%;

      .dates {
        width: 15%;
      }

      .content {
        width: 85%;

        ul {
          margin-left: 15px;
          padding-left: 0;
        }
      }
    }
  }
}
